<%- include('../../fragments/header.ejs') %>
<div class="topbottompanel">

    <header>
        <h2><%= pageTitle %></h2>
        <p>
          <%= pageTitlev2 %>
        </p>
    </header>
   

    <main class="content">
        <article>

            <table class="table-list">
                <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>email</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
    
    
                <tbody>
                    <% for (let vet of vets) { %>
                    <tr>
                        <td><%= vet.firstName %></td>
                        <td><%= vet.lastName %></td>
                        <td><%= vet.email %></td>
                        <td>
                            <ul class ="list-actions">
                                <li>
                                    <a href="/vets/details/<%=vet._id%>" class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="/vets/edit/<%=vet._id%>" class="list-actions-button-edit">Edytuj</a>
                                </li>
                                <li>
                                    <a href="/vets/delete/<%=vet._id%>" class="list-actions-button-delete">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <p><a href="/vets/add" class="button-add">Dodaj nowego pracownika</a></p>

        </article>
  
        
    </main>

    <%- include('../../fragments/footer.ejs') %>