<%- include('../../fragments/header.ejs') %>

<div class="topbottompanel">
    <header>
        <h2>Specjalizacje</h2>
        <p>
            W klinice przyjmują weterynarze o różnorodnych specjalizacjach. <br/> Poniżej widnieje lista dostępnych specjalizacji.
        </p>
    </header>
   

    <main class="content">
        <article>

            <table class="table-list">
                <thead>
                    <tr>
                        <th>Nazwa specjalizacji</th>
                        <th>Minimalna pensja brutto</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
    

                <tbody>
                    <% for (let spec of specs) { %>
                    <tr>
                        <td><%= spec.name %></td>
                        <td><%= spec.minSalary %></td>
                        <td>
                            <ul class ="list-actions">
                                <li>
                                    <a href="/specs/details/<%=spec._id%>" class="list-actions-button-details">Szczegóły</a>
                                </li>
                                <li>
                                    <a href="/specs/edit/<%=spec._id%>" class="list-actions-button-edit">Edytuj</a>
                                </li>
                                <li>
                                    <a href="/specs/delete/<%=spec._id%>" class="list-actions-button-delete">Usuń</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <p><a href="specs/add" class="button-add">Dodaj nową specjalizację do bazy</a></p>

        </article>
  
        
    </main>
    <%- include('../../fragments/footer.ejs') %>